In [68]:
import pandas as pd

df = pd.read_csv('training_data_15feb2021.csv').iloc[:,1:]
df

,Datetime,AIL,just_date,year,day_of_month,month,day_of_year,hour_of_day,hour_of_the_week,hour_x_day,...,weekend,monday,tuesday,wednesday,thursday,friday,saturday,sunday,temp_calgary,temp_edmonton
0,2019-01-01 00:00:00,10008.0,2019-01-01,2019,1,1,1,0,25,0,...,0,0,1,0,0,0,0,0,-11.1,-9.8
1,2019-01-01 01:00:00,9868.0,2019-01-01,2019,1,1,1,1,26,1,...,0,0,1,0,0,0,0,0,-11.1,-9.8
2,2019-01-01 02:00:00,9736.0,2019-01-01,2019,1,1,1,2,27,2,...,0,0,1,0,0,0,0,0,-11.1,-9.8
3,2019-01-01 03:00:00,9597.0,2019-01-01,2019,1,1,1,3,28,3,...,0,0,1,0,0,0,0,0,-11.1,-9.8
4,2019-01-01 04:00:00,9530.0,2019-01-01,2019,1,1,1,4,29,4,...,0,0,1,0,0,0,0,0,-11.1,-9.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18595,2021-02-13 19:00:00,11312.0,2021-02-13,2021,13,2,44,19,140,836,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18596,2021-02-13 20:00:00,11228.0,2021-02-13,2021,13,2,44,20,141,880,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18597,2021-02-13 21:00:00,11092.0,2021-02-13,2021,13,2,44,21,142,924,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18598,2021-02-13 22:00:00,10939.0,2021-02-13,2021,13,2,44,22,143,968,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18599,2021-02-13 23:00:00,10706.0,2021-02-13,2021,13,2,44,23,144,1012,...,1,0,0,0,0,0,1,0,-21.0,-20.0

In [69]:
df['year'] = df['year'] - 2000
df

,Datetime,AIL,just_date,year,day_of_month,month,day_of_year,hour_of_day,hour_of_the_week,hour_x_day,...,weekend,monday,tuesday,wednesday,thursday,friday,saturday,sunday,temp_calgary,temp_edmonton
0,2019-01-01 00:00:00,10008.0,2019-01-01,19,1,1,1,0,25,0,...,0,0,1,0,0,0,0,0,-11.1,-9.8
1,2019-01-01 01:00:00,9868.0,2019-01-01,19,1,1,1,1,26,1,...,0,0,1,0,0,0,0,0,-11.1,-9.8
2,2019-01-01 02:00:00,9736.0,2019-01-01,19,1,1,1,2,27,2,...,0,0,1,0,0,0,0,0,-11.1,-9.8
3,2019-01-01 03:00:00,9597.0,2019-01-01,19,1,1,1,3,28,3,...,0,0,1,0,0,0,0,0,-11.1,-9.8
4,2019-01-01 04:00:00,9530.0,2019-01-01,19,1,1,1,4,29,4,...,0,0,1,0,0,0,0,0,-11.1,-9.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18595,2021-02-13 19:00:00,11312.0,2021-02-13,21,13,2,44,19,140,836,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18596,2021-02-13 20:00:00,11228.0,2021-02-13,21,13,2,44,20,141,880,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18597,2021-02-13 21:00:00,11092.0,2021-02-13,21,13,2,44,21,142,924,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18598,2021-02-13 22:00:00,10939.0,2021-02-13,21,13,2,44,22,143,968,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18599,2021-02-13 23:00:00,10706.0,2021-02-13,21,13,2,44,23,144,1012,...,1,0,0,0,0,0,1,0,-21.0,-20.0

In [70]:
df.columns

Index(['Datetime', 'AIL', 'just_date', 'year', 'day_of_month', 'month',
       'day_of_year', 'hour_of_day', 'hour_of_the_week', 'hour_x_day',
       'sin.hour.daily', 'cos.hour.daily', 'sin.hour.weekly',
       'cos.hour.weekly', 'sin.day.yearly', 'cos.day.yearly', 'weekend',
       'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
       'sunday', 'temp_calgary', 'temp_edmonton'],
      dtype='object')

In [71]:
df['temp_edmonton_lag1'] = df['temp_edmonton'].shift(1)
df['temp_edmonton_lag2'] = df['temp_edmonton'].shift(2)
df['temp_edmonton_lag3'] = df['temp_edmonton'].shift(3)
df['temp_edmonton_lag4'] = df['temp_edmonton'].shift(4)
df['temp_edmonton_lag5'] = df['temp_edmonton'].shift(5)
df['temp_edmonton_lag6'] = df['temp_edmonton'].shift(6)
df['temp_edmonton_lag7'] = df['temp_edmonton'].shift(7)
df['temp_edmonton_lag8'] = df['temp_edmonton'].shift(8)
df['temp_edmonton_lag9'] = df['temp_edmonton'].shift(9)
df['temp_edmonton_lag10'] = df['temp_edmonton'].shift(10)
df['temp_edmonton_lag11'] = df['temp_edmonton'].shift(11)
df['temp_edmonton_lag12'] = df['temp_edmonton'].shift(12)
df['temp_edmonton_lag13'] = df['temp_edmonton'].shift(13)
df['temp_edmonton_lag14'] = df['temp_edmonton'].shift(14)
df['temp_edmonton_lag15'] = df['temp_edmonton'].shift(15)
df['temp_edmonton_lag16'] = df['temp_edmonton'].shift(16)
df['temp_edmonton_lag17'] = df['temp_edmonton'].shift(17)
df['temp_edmonton_lag18'] = df['temp_edmonton'].shift(18)
df['temp_edmonton_lag19'] = df['temp_edmonton'].shift(19)
df['temp_edmonton_lag20'] = df['temp_edmonton'].shift(20)
df['temp_edmonton_lag21'] = df['temp_edmonton'].shift(21)
df['temp_edmonton_lag22'] = df['temp_edmonton'].shift(22)
df['temp_edmonton_lag23'] = df['temp_edmonton'].shift(23)
df['temp_edmonton_lag24'] = df['temp_edmonton'].shift(24)

df['temp_calgary_lag1'] = df['temp_calgary'].shift(1)
df['temp_calgary_lag2'] = df['temp_calgary'].shift(2)
df['temp_calgary_lag3'] = df['temp_calgary'].shift(3)
df['temp_calgary_lag4'] = df['temp_calgary'].shift(4)
df['temp_calgary_lag5'] = df['temp_calgary'].shift(5)
df['temp_calgary_lag6'] = df['temp_calgary'].shift(6)
df['temp_calgary_lag7'] = df['temp_calgary'].shift(7)
df['temp_calgary_lag8'] = df['temp_calgary'].shift(8)
df['temp_calgary_lag9'] = df['temp_calgary'].shift(9)
df['temp_calgary_lag10'] = df['temp_calgary'].shift(10)
df['temp_calgary_lag11'] = df['temp_calgary'].shift(11)
df['temp_calgary_lag12'] = df['temp_calgary'].shift(12)
df['temp_calgary_lag13'] = df['temp_calgary'].shift(13)
df['temp_calgary_lag14'] = df['temp_calgary'].shift(14)
df['temp_calgary_lag15'] = df['temp_calgary'].shift(15)
df['temp_calgary_lag16'] = df['temp_calgary'].shift(16)
df['temp_calgary_lag17'] = df['temp_calgary'].shift(17)
df['temp_calgary_lag18'] = df['temp_calgary'].shift(18)
df['temp_calgary_lag19'] = df['temp_calgary'].shift(19)
df['temp_calgary_lag20'] = df['temp_calgary'].shift(20)
df['temp_calgary_lag21'] = df['temp_calgary'].shift(21)
df['temp_calgary_lag22'] = df['temp_calgary'].shift(22)
df['temp_calgary_lag23'] = df['temp_calgary'].shift(23)
df['temp_calgary_lag24'] = df['temp_calgary'].shift(24)

In [72]:
df.columns

Index(['Datetime', 'AIL', 'just_date', 'year', 'day_of_month', 'month',
       'day_of_year', 'hour_of_day', 'hour_of_the_week', 'hour_x_day',
       'sin.hour.daily', 'cos.hour.daily', 'sin.hour.weekly',
       'cos.hour.weekly', 'sin.day.yearly', 'cos.day.yearly', 'weekend',
       'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
       'sunday', 'temp_calgary', 'temp_edmonton', 'temp_edmonton_lag1',
       'temp_edmonton_lag2', 'temp_edmonton_lag3', 'temp_edmonton_lag4',
       'temp_edmonton_lag5', 'temp_edmonton_lag6', 'temp_edmonton_lag7',
       'temp_edmonton_lag8', 'temp_edmonton_lag9', 'temp_edmonton_lag10',
       'temp_edmonton_lag11', 'temp_edmonton_lag12', 'temp_edmonton_lag13',
       'temp_edmonton_lag14', 'temp_edmonton_lag15', 'temp_edmonton_lag16',
       'temp_edmonton_lag17', 'temp_edmonton_lag18', 'temp_edmonton_lag19',
       'temp_edmonton_lag20', 'temp_edmonton_lag21', 'temp_edmonton_lag22',
       'temp_edmonton_lag23', 'temp_edmonton_lag24', 'temp_calgary_lag1',
       'temp_calgary_lag2', 'temp_calgary_lag3', 'temp_calgary_lag4',
       'temp_calgary_lag5', 'temp_calgary_lag6', 'temp_calgary_lag7',
       'temp_calgary_lag8', 'temp_calgary_lag9', 'temp_calgary_lag10',
       'temp_calgary_lag11', 'temp_calgary_lag12', 'temp_calgary_lag13',
       'temp_calgary_lag14', 'temp_calgary_lag15', 'temp_calgary_lag16',
       'temp_calgary_lag17', 'temp_calgary_lag18', 'temp_calgary_lag19',
       'temp_calgary_lag20', 'temp_calgary_lag21', 'temp_calgary_lag22',
       'temp_calgary_lag23', 'temp_calgary_lag24'],
      dtype='object')

In [73]:
df.dtypes

Datetime               object
AIL                   float64
just_date              object
year                    int64
day_of_month            int64
                       ...
temp_calgary_lag20    float64
temp_calgary_lag21    float64
temp_calgary_lag22    float64
temp_calgary_lag23    float64
temp_calgary_lag24    float64
Length: 74, dtype: object

In [74]:
df = df.dropna()

In [77]:
import numpy as np

from xgboost import XGBRegressor
from sklearn.model_selection import TimeSeriesSplit
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
import pickle
import hyperopt
from hyperopt import fmin, tpe, hp, STATUS_OK, Trials
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

df_hypopt       = df
df_hypopt       = df_hypopt.interpolate(method='nearest').ffill().bfill()

split_date      = '2021-01-01 00:00:00'
df_hypopt_train = df_hypopt.loc[df_hypopt.Datetime < split_date].copy()
df_hypopt_test  = df_hypopt.loc[df_hypopt.Datetime >= split_date].copy()

y_train         = df_hypopt_train['AIL'].values
X_train         = df_hypopt_train.drop(['Datetime', 'AIL', 'just_date' ], axis = 1).values

#X_test          = df_hypopt_test.drop (['Datetime', 'AIL', 'just_date'], axis = 1).values
#y_test          = df_hypopt_test['AIL'].values


space={ 'max_depth'        : hp.quniform("max_depth", 2, 20, 1),
        'gamma'            : hp.uniform ('gamma', 0,1),
        'reg_alpha'        : hp.quniform('reg_alpha', 0.015,1,0.05),
        'reg_lambda'       : hp.uniform('reg_lambda', 0.015,1),
        'colsample_bytree' : hp.uniform('colsample_bytree', 0.5,1),
        'min_child_weight' : hp.quniform('min_child_weight', 1, 7, 1),
        'n_estimators'     : hp.quniform('n_estimators', 100, 1000, 10),
        #'subsample'        : hp.quniform('subsample', 0.1, 1, 0.01)
        'learning_rate'     : hp.quniform('learning_rate', 0.01, 0.2, 0.01)
    }


def optimize (space):
    model=XGBRegressor(max_depth        = int(space['max_depth']),
                       gamma            = space['gamma'],
                       reg_alpha        = int(space['reg_alpha']),
                       reg_lambda       = int(space['reg_lambda']),
                       colsample_bytree = space['colsample_bytree'],
                       min_child_weight = space['min_child_weight'],
                       n_estimators     = int(space['n_estimators']), 
                       learning_rate    = space['learning_rate'],
                       random_state = 200)
    
    tscv = TimeSeriesSplit(n_splits=5)
    scores = cross_val_score(model, X_train, y_train, cv=tscv, scoring = 'neg_mean_absolute_error')
    #https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter
    print("Loss: {0:.3f} (+/- {1:.3f})".format(scores.mean(), scores.std()))
    #model.fit(X_train, y_train)
    #train_loss = np.mean(np.abs((y_train - model.predict(X_train)) / y_train)) * 100
    # summarize performance
    #preds     = model.predict(X_test)
    #mae       = mean_absolute_error(y_test, preds)
    #loss = np.where(np.abs(y_test - preds) < delta, 
    #                0.5*((y_test - preds)**2),
    #                delta*np.abs(y_test-preds) - 0.5*(delta**2)
    #               )
    #loss = np.mean(np.abs((y_test - preds) / y_test)) * 100
    #print('train loss: {}, test loss: {}'.format(train_loss, loss))
    loss = - scores.mean()
    return loss
trials = Trials()
result = fmin(
            fn        = optimize,
            space     = space,
            algo      = tpe.suggest,
            max_evals = 100,
            trials    = trials
)

print (result)

Loss: -257.171 (+/- 61.071)
Loss: -321.032 (+/- 107.568)
Loss: -274.568 (+/- 74.058)
Loss: -286.429 (+/- 89.649)
Loss: -250.359 (+/- 51.125)
Loss: -281.478 (+/- 75.900)
Loss: -315.150 (+/- 119.182)
Loss: -270.887 (+/- 66.791)
Loss: -306.855 (+/- 103.016)
Loss: -327.229 (+/- 120.650)
Loss: -290.037 (+/- 90.464)
Loss: -246.907 (+/- 62.858)
Loss: -298.576 (+/- 100.071)
Loss: -279.195 (+/- 101.261)
Loss: -315.916 (+/- 111.256)
Loss: -285.116 (+/- 97.505)
Loss: -328.654 (+/- 113.309)
Loss: -263.795 (+/- 54.287)
Loss: -316.306 (+/- 107.506)
Loss: -253.480 (+/- 56.469)
Loss: -335.776 (+/- 21.298)
Loss: -262.358 (+/- 23.902)
Loss: -256.019 (+/- 51.448)
Loss: -275.482 (+/- 74.797)
Loss: -251.432 (+/- 42.169)
Loss: -263.940 (+/- 64.054)
Loss: -263.348 (+/- 43.320)
Loss: -266.183 (+/- 72.568)
Loss: -244.570 (+/- 48.860)
Loss: -257.944 (+/- 59.538)
Loss: -255.183 (+/- 62.513)
Loss: -248.538 (+/- 60.071)
Loss: -255.043 (+/- 63.017)
Loss: -256.740 (+/- 58.886)
Loss: -250.440 (+/- 69.564)
Loss: -269.187 (+/- 71.577)
Loss: -247.510 (+/- 65.035)
Loss: -274.222 (+/- 42.178)
Loss: -269.373 (+/- 66.206)
Loss: -258.449 (+/- 60.991)
Loss: -297.847 (+/- 102.815)
Loss: -248.395 (+/- 57.784)
Loss: -260.264 (+/- 61.179)
Loss: -258.468 (+/- 65.616)
Loss: -271.483 (+/- 71.234)
Loss: -264.610 (+/- 70.106)
Loss: -256.456 (+/- 65.890)
Loss: -276.753 (+/- 92.186)
Loss: -238.947 (+/- 26.152)
Loss: -262.691 (+/- 38.873)
Loss: -257.396 (+/- 55.212)
Loss: -297.652 (+/- 90.733)
Loss: -261.973 (+/- 51.614)
Loss: -246.632 (+/- 50.958)
Loss: -241.662 (+/- 51.343)
Loss: -252.807 (+/- 50.749)
Loss: -267.897 (+/- 74.316)
Loss: -271.125 (+/- 63.132)
Loss: -327.237 (+/- 116.498)
Loss: -256.477 (+/- 49.791)
Loss: -260.617 (+/- 73.087)
Loss: -276.926 (+/- 96.826)
Loss: -246.213 (+/- 51.839)
Loss: -268.320 (+/- 48.679)
Loss: -271.805 (+/- 70.133)
Loss: -246.264 (+/- 48.717)
Loss: -243.478 (+/- 48.933)
Loss: -245.622 (+/- 56.149)
Loss: -248.282 (+/- 49.621)
Loss: -250.885 (+/- 52.667)
Loss: -252.171 (+/- 56.466)
Loss: -261.720 (+/- 62.091)
Loss: -269.163 (+/- 71.365)
Loss: -263.025 (+/- 38.118)
Loss: -258.205 (+/- 39.361)
Loss: -256.834 (+/- 61.784)
Loss: -246.102 (+/- 56.605)
Loss: -259.809 (+/- 60.976)
Loss: -258.258 (+/- 53.626)
Loss: -237.602 (+/- 49.934)
Loss: -265.539 (+/- 46.853)
Loss: -240.729 (+/- 41.881)
Loss: -265.888 (+/- 67.003)
Loss: -249.206 (+/- 72.173)
Loss: -265.265 (+/- 66.912)
Loss: -264.312 (+/- 65.377)
Loss: -235.603 (+/- 45.432)
Loss: -228.397 (+/- 46.263)
Loss: -236.249 (+/- 47.248)
Loss: -246.361 (+/- 67.251)
Loss: -258.497 (+/- 40.500)
Loss: -264.569 (+/- 66.344)
Loss: -250.520 (+/- 56.734)
Loss: -263.572 (+/- 63.611)
Loss: -269.135 (+/- 70.568)
Loss: -265.949 (+/- 40.322)
Loss: -251.246 (+/- 45.064)
Loss: -266.174 (+/- 65.724)
Loss: -282.959 (+/- 92.951)
Loss: -261.435 (+/- 62.337)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [42:36<00:00, 25.57s/trial, best loss: 228.3965979881536]
{'colsample_bytree': 0.5565624636651901, 'gamma': 0.326827947886293, 'learning_rate': 0.14, 'max_depth': 5.0, 'min_child_weight': 6.0, 'n_estimators': 380.0, 'reg_alpha': 0.4, 'reg_lambda': 0.6480556765349876}

In [80]:
import numpy as np
import pandas as pd
from xgboost import XGBRegressor
from datetime import datetime
import joblib
from joblib import dump


df_hypopt_test  = df_hypopt.loc[df_hypopt.Datetime >= split_date].copy()
y_test          = df_hypopt_test['AIL'].values
X_test          = df_hypopt_test.drop (['Datetime', 'AIL', 'just_date'], axis = 1).values

'''
{'colsample_bytree': 0.5565624636651901, 'gamma': 0.326827947886293,
'learning_rate': 0.14, 'max_depth': 5.0, 
'min_child_weight': 6.0, 'n_estimators': 380.0, 
'reg_alpha': 0.4, 'reg_lambda': 0.6480556765349876}

'''
model   = XGBRegressor(colsample_bytree = 0.5565624636651901, 
                       gamma            = 0.326827947886293, 
                       learning_rate    = 0.14,
                       max_depth        = 5, 
                       min_child_weight = 6, 
                       n_estimators     = 380, 
                       reg_alpha        = 0.4, 
                       reg_lambda       = 0.6480557,
                       random_state = 200)

model.fit(X_train,y_train)
preds = model.predict(X_test)
print(mean_absolute_error(y_test,preds))

169.06124970407197

In [2]:
split_date_1 = '2019-01-01 00:00:00'
split_date_2 = '2019-12-31 23:00:00'

df_ = df_hypopt.loc[split_date_1 <= df_hypopt.Datetime <= split_date_2].copy()

df_
'''

y_test          = df_hypopt_test['AIL'].values
X_test          = df_hypopt_test.drop (['Datetime', 'AIL', 'just_date'], axis = 1).values

model   = XGBRegressor(colsample_bytree = 0.5565624636651901, 
                       gamma            = 0.326827947886293, 
                       learning_rate    = 0.14,
                       max_depth        = 5, 
                       min_child_weight = 6, 
                       n_estimators     = 380, 
                       reg_alpha        = 0.4, 
                       reg_lambda       = 0.6480557,
                       random_state = 200)

model.fit(X_train,y_train)
preds = model.predict(X_test)
print(mean_absolute_error(y_test,preds))

'''

NameError: name 'df_hypopt' is not defined

In [82]:
df_hypopt_test['forecast'] = preds
df_hypopt_test

,Datetime,AIL,just_date,year,day_of_month,month,day_of_year,hour_of_day,hour_of_the_week,hour_x_day,...,temp_calgary_lag16,temp_calgary_lag17,temp_calgary_lag18,temp_calgary_lag19,temp_calgary_lag20,temp_calgary_lag21,temp_calgary_lag22,temp_calgary_lag23,temp_calgary_lag24,forecast
17544,2021-01-01 00:00:00,9655.0,2021-01-01,21,1,1,1,0,97,0,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9508.448242
17545,2021-01-01 01:00:00,9513.0,2021-01-01,21,1,1,1,1,98,1,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9393.368164
17546,2021-01-01 02:00:00,9437.0,2021-01-01,21,1,1,1,2,99,2,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9293.581055
17547,2021-01-01 03:00:00,9376.0,2021-01-01,21,1,1,1,3,100,3,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9226.858398
17548,2021-01-01 04:00:00,9356.0,2021-01-01,21,1,1,1,4,101,4,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9285.461914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18595,2021-02-13 19:00:00,11312.0,2021-02-13,21,13,2,44,19,140,836,...,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,-29.0,-29.0,11043.758789
18596,2021-02-13 20:00:00,11228.0,2021-02-13,21,13,2,44,20,141,880,...,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,-29.0,10976.488281
18597,2021-02-13 21:00:00,11092.0,2021-02-13,21,13,2,44,21,142,924,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,10839.622070
18598,2021-02-13 22:00:00,10939.0,2021-02-13,21,13,2,44,22,143,968,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,10614.139648
18599,2021-02-13 23:00:00,10706.0,2021-02-13,21,13,2,44,23,144,1012,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,10369.527344

In [83]:
df_hypopt_test.to_csv('forecast_error_test_model_v10_16feb.csv')

In [43]:
import numpy as np
import pandas as pd
from xgboost import XGBRegressor
from datetime import datetime
import joblib
from joblib import dump

column_list = ['year', 'day_of_month', 'month',
       'day_of_year', 'hour_of_day', 'hour_of_the_week', 'hour_x_day',
       'sin.hour.daily', 'cos.hour.daily', 'sin.hour.weekly',
       'cos.hour.weekly', 'sin.day.yearly', 'cos.day.yearly', 'weekend',
       'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
       'sunday', 'temp_calgary', 'temp_edmonton', 'temp_edmonton_lag1',
       'temp_edmonton_lag2', 'temp_edmonton_lag3', 'temp_edmonton_lag4',
       'temp_edmonton_lag5', 'temp_edmonton_lag6', 'temp_edmonton_lag7',
       'temp_edmonton_lag8', 'temp_edmonton_lag9', 'temp_edmonton_lag10',
       'temp_edmonton_lag11', 'temp_edmonton_lag12', 'temp_edmonton_lag13',
       'temp_edmonton_lag14', 'temp_edmonton_lag15', 'temp_edmonton_lag16',
       'temp_edmonton_lag17', 'temp_edmonton_lag18', 'temp_edmonton_lag19',
       'temp_edmonton_lag20', 'temp_edmonton_lag21', 'temp_edmonton_lag22',
       'temp_edmonton_lag23', 'temp_edmonton_lag24', 'temp_calgary_lag1',
       'temp_calgary_lag2', 'temp_calgary_lag3', 'temp_calgary_lag4',
       'temp_calgary_lag5', 'temp_calgary_lag6', 'temp_calgary_lag7',
       'temp_calgary_lag8', 'temp_calgary_lag9', 'temp_calgary_lag10',
       'temp_calgary_lag11', 'temp_calgary_lag12', 'temp_calgary_lag13',
       'temp_calgary_lag14', 'temp_calgary_lag15', 'temp_calgary_lag16',
       'temp_calgary_lag17', 'temp_calgary_lag18', 'temp_calgary_lag19',
       'temp_calgary_lag20', 'temp_calgary_lag21', 'temp_calgary_lag22',
       'temp_calgary_lag23', 'temp_calgary_lag24' ]

df_final = pd.DataFrame(data = df)
#df_final = df_final.interpolate(method='nearest').ffill().bfill()

y_train = pd.DataFrame(df, columns = ['AIL'])
y_train = y_train.values
X_train = pd.DataFrame(df, columns = column_list)
X_train = X_train.values


'''
{'colsample_bytree': 0.5565624636651901, 'gamma': 0.326827947886293,
'learning_rate': 0.14, 'max_depth': 5.0, 
'min_child_weight': 6.0, 'n_estimators': 380.0, 
'reg_alpha': 0.4, 'reg_lambda': 0.6480556765349876}

'''
model   = XGBRegressor(colsample_bytree = 0.5565624636651901, 
                       gamma            = 0.326827947886293, 
                       learning_rate    = 0.14,
                       max_depth        = 5, 
                       min_child_weight = 6, 
                       n_estimators     = 380, 
                       reg_alpha        = 0.4, 
                       reg_lambda       = 0.6480557,
                       random_state = 200)

model.fit(X_train,y_train)
preds = model.predict(X_train)
print(np.mean(np.abs((y_train - preds) / y_train)) * 100)

# save model to file
model_name = 'model_generated_on_{}_{}_{}_v9_non_holiday_mape_loss_only_temp.joblib.dat'.format(datetime.now().day, datetime.now().month, datetime.now().year)
joblib.dump(model, filename = model_name)

Loss: 0.809 (+/- 0.137)