In [24]:
import pandas as pd
import numpy as np

df = pd.read_csv('training_data_15feb2021.csv').iloc[:,1:]
df

,Datetime,AIL,just_date,year,day_of_month,month,day_of_year,hour_of_day,hour_of_the_week,hour_x_day,...,weekend,monday,tuesday,wednesday,thursday,friday,saturday,sunday,temp_calgary,temp_edmonton
0,2019-01-01 00:00:00,10008.0,2019-01-01,2019,1,1,1,0,25,0,...,0,0,1,0,0,0,0,0,-11.1,-9.8
1,2019-01-01 01:00:00,9868.0,2019-01-01,2019,1,1,1,1,26,1,...,0,0,1,0,0,0,0,0,-11.1,-9.8
2,2019-01-01 02:00:00,9736.0,2019-01-01,2019,1,1,1,2,27,2,...,0,0,1,0,0,0,0,0,-11.1,-9.8
3,2019-01-01 03:00:00,9597.0,2019-01-01,2019,1,1,1,3,28,3,...,0,0,1,0,0,0,0,0,-11.1,-9.8
4,2019-01-01 04:00:00,9530.0,2019-01-01,2019,1,1,1,4,29,4,...,0,0,1,0,0,0,0,0,-11.1,-9.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18595,2021-02-13 19:00:00,11312.0,2021-02-13,2021,13,2,44,19,140,836,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18596,2021-02-13 20:00:00,11228.0,2021-02-13,2021,13,2,44,20,141,880,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18597,2021-02-13 21:00:00,11092.0,2021-02-13,2021,13,2,44,21,142,924,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18598,2021-02-13 22:00:00,10939.0,2021-02-13,2021,13,2,44,22,143,968,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18599,2021-02-13 23:00:00,10706.0,2021-02-13,2021,13,2,44,23,144,1012,...,1,0,0,0,0,0,1,0,-21.0,-20.0

In [25]:
df['year'] = df['year'] - 2000
df

,Datetime,AIL,just_date,year,day_of_month,month,day_of_year,hour_of_day,hour_of_the_week,hour_x_day,...,weekend,monday,tuesday,wednesday,thursday,friday,saturday,sunday,temp_calgary,temp_edmonton
0,2019-01-01 00:00:00,10008.0,2019-01-01,19,1,1,1,0,25,0,...,0,0,1,0,0,0,0,0,-11.1,-9.8
1,2019-01-01 01:00:00,9868.0,2019-01-01,19,1,1,1,1,26,1,...,0,0,1,0,0,0,0,0,-11.1,-9.8
2,2019-01-01 02:00:00,9736.0,2019-01-01,19,1,1,1,2,27,2,...,0,0,1,0,0,0,0,0,-11.1,-9.8
3,2019-01-01 03:00:00,9597.0,2019-01-01,19,1,1,1,3,28,3,...,0,0,1,0,0,0,0,0,-11.1,-9.8
4,2019-01-01 04:00:00,9530.0,2019-01-01,19,1,1,1,4,29,4,...,0,0,1,0,0,0,0,0,-11.1,-9.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18595,2021-02-13 19:00:00,11312.0,2021-02-13,21,13,2,44,19,140,836,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18596,2021-02-13 20:00:00,11228.0,2021-02-13,21,13,2,44,20,141,880,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18597,2021-02-13 21:00:00,11092.0,2021-02-13,21,13,2,44,21,142,924,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18598,2021-02-13 22:00:00,10939.0,2021-02-13,21,13,2,44,22,143,968,...,1,0,0,0,0,0,1,0,-21.0,-20.0
18599,2021-02-13 23:00:00,10706.0,2021-02-13,21,13,2,44,23,144,1012,...,1,0,0,0,0,0,1,0,-21.0,-20.0

In [26]:
df['is_Covid'] = np.where(df['Datetime']>='2020-02-01 00:00:00', np.where(df['Datetime'] <= '2020-12-31 23:00:00', 1, 0), 0)
                          
df

,Datetime,AIL,just_date,year,day_of_month,month,day_of_year,hour_of_day,hour_of_the_week,hour_x_day,...,monday,tuesday,wednesday,thursday,friday,saturday,sunday,temp_calgary,temp_edmonton,is_Covid
0,2019-01-01 00:00:00,10008.0,2019-01-01,19,1,1,1,0,25,0,...,0,1,0,0,0,0,0,-11.1,-9.8,0
1,2019-01-01 01:00:00,9868.0,2019-01-01,19,1,1,1,1,26,1,...,0,1,0,0,0,0,0,-11.1,-9.8,0
2,2019-01-01 02:00:00,9736.0,2019-01-01,19,1,1,1,2,27,2,...,0,1,0,0,0,0,0,-11.1,-9.8,0
3,2019-01-01 03:00:00,9597.0,2019-01-01,19,1,1,1,3,28,3,...,0,1,0,0,0,0,0,-11.1,-9.8,0
4,2019-01-01 04:00:00,9530.0,2019-01-01,19,1,1,1,4,29,4,...,0,1,0,0,0,0,0,-11.1,-9.8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18595,2021-02-13 19:00:00,11312.0,2021-02-13,21,13,2,44,19,140,836,...,0,0,0,0,0,1,0,-21.0,-20.0,0
18596,2021-02-13 20:00:00,11228.0,2021-02-13,21,13,2,44,20,141,880,...,0,0,0,0,0,1,0,-21.0,-20.0,0
18597,2021-02-13 21:00:00,11092.0,2021-02-13,21,13,2,44,21,142,924,...,0,0,0,0,0,1,0,-21.0,-20.0,0
18598,2021-02-13 22:00:00,10939.0,2021-02-13,21,13,2,44,22,143,968,...,0,0,0,0,0,1,0,-21.0,-20.0,0
18599,2021-02-13 23:00:00,10706.0,2021-02-13,21,13,2,44,23,144,1012,...,0,0,0,0,0,1,0,-21.0,-20.0,0

In [27]:
df.columns

Index(['Datetime', 'AIL', 'just_date', 'year', 'day_of_month', 'month',
       'day_of_year', 'hour_of_day', 'hour_of_the_week', 'hour_x_day',
       'sin.hour.daily', 'cos.hour.daily', 'sin.hour.weekly',
       'cos.hour.weekly', 'sin.day.yearly', 'cos.day.yearly', 'weekend',
       'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
       'sunday', 'temp_calgary', 'temp_edmonton', 'is_Covid'],
      dtype='object')

In [28]:
df['temp_edmonton_lag1'] = df['temp_edmonton'].shift(1)
df['temp_edmonton_lag2'] = df['temp_edmonton'].shift(2)
df['temp_edmonton_lag3'] = df['temp_edmonton'].shift(3)
df['temp_edmonton_lag4'] = df['temp_edmonton'].shift(4)
df['temp_edmonton_lag5'] = df['temp_edmonton'].shift(5)
df['temp_edmonton_lag6'] = df['temp_edmonton'].shift(6)
df['temp_edmonton_lag7'] = df['temp_edmonton'].shift(7)
df['temp_edmonton_lag8'] = df['temp_edmonton'].shift(8)
df['temp_edmonton_lag9'] = df['temp_edmonton'].shift(9)
df['temp_edmonton_lag10'] = df['temp_edmonton'].shift(10)
df['temp_edmonton_lag11'] = df['temp_edmonton'].shift(11)
df['temp_edmonton_lag12'] = df['temp_edmonton'].shift(12)
df['temp_edmonton_lag13'] = df['temp_edmonton'].shift(13)
df['temp_edmonton_lag14'] = df['temp_edmonton'].shift(14)
df['temp_edmonton_lag15'] = df['temp_edmonton'].shift(15)
df['temp_edmonton_lag16'] = df['temp_edmonton'].shift(16)
df['temp_edmonton_lag17'] = df['temp_edmonton'].shift(17)
df['temp_edmonton_lag18'] = df['temp_edmonton'].shift(18)
df['temp_edmonton_lag19'] = df['temp_edmonton'].shift(19)
df['temp_edmonton_lag20'] = df['temp_edmonton'].shift(20)
df['temp_edmonton_lag21'] = df['temp_edmonton'].shift(21)
df['temp_edmonton_lag22'] = df['temp_edmonton'].shift(22)
df['temp_edmonton_lag23'] = df['temp_edmonton'].shift(23)
df['temp_edmonton_lag24'] = df['temp_edmonton'].shift(24)

df['temp_calgary_lag1'] = df['temp_calgary'].shift(1)
df['temp_calgary_lag2'] = df['temp_calgary'].shift(2)
df['temp_calgary_lag3'] = df['temp_calgary'].shift(3)
df['temp_calgary_lag4'] = df['temp_calgary'].shift(4)
df['temp_calgary_lag5'] = df['temp_calgary'].shift(5)
df['temp_calgary_lag6'] = df['temp_calgary'].shift(6)
df['temp_calgary_lag7'] = df['temp_calgary'].shift(7)
df['temp_calgary_lag8'] = df['temp_calgary'].shift(8)
df['temp_calgary_lag9'] = df['temp_calgary'].shift(9)
df['temp_calgary_lag10'] = df['temp_calgary'].shift(10)
df['temp_calgary_lag11'] = df['temp_calgary'].shift(11)
df['temp_calgary_lag12'] = df['temp_calgary'].shift(12)
df['temp_calgary_lag13'] = df['temp_calgary'].shift(13)
df['temp_calgary_lag14'] = df['temp_calgary'].shift(14)
df['temp_calgary_lag15'] = df['temp_calgary'].shift(15)
df['temp_calgary_lag16'] = df['temp_calgary'].shift(16)
df['temp_calgary_lag17'] = df['temp_calgary'].shift(17)
df['temp_calgary_lag18'] = df['temp_calgary'].shift(18)
df['temp_calgary_lag19'] = df['temp_calgary'].shift(19)
df['temp_calgary_lag20'] = df['temp_calgary'].shift(20)
df['temp_calgary_lag21'] = df['temp_calgary'].shift(21)
df['temp_calgary_lag22'] = df['temp_calgary'].shift(22)
df['temp_calgary_lag23'] = df['temp_calgary'].shift(23)
df['temp_calgary_lag24'] = df['temp_calgary'].shift(24)

df = df.dropna()
df.columns

Index(['Datetime', 'AIL', 'just_date', 'year', 'day_of_month', 'month',
       'day_of_year', 'hour_of_day', 'hour_of_the_week', 'hour_x_day',
       'sin.hour.daily', 'cos.hour.daily', 'sin.hour.weekly',
       'cos.hour.weekly', 'sin.day.yearly', 'cos.day.yearly', 'weekend',
       'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
       'sunday', 'temp_calgary', 'temp_edmonton', 'is_Covid',
       'temp_edmonton_lag1', 'temp_edmonton_lag2', 'temp_edmonton_lag3',
       'temp_edmonton_lag4', 'temp_edmonton_lag5', 'temp_edmonton_lag6',
       'temp_edmonton_lag7', 'temp_edmonton_lag8', 'temp_edmonton_lag9',
       'temp_edmonton_lag10', 'temp_edmonton_lag11', 'temp_edmonton_lag12',
       'temp_edmonton_lag13', 'temp_edmonton_lag14', 'temp_edmonton_lag15',
       'temp_edmonton_lag16', 'temp_edmonton_lag17', 'temp_edmonton_lag18',
       'temp_edmonton_lag19', 'temp_edmonton_lag20', 'temp_edmonton_lag21',
       'temp_edmonton_lag22', 'temp_edmonton_lag23', 'temp_edmonton_lag24',
       'temp_calgary_lag1', 'temp_calgary_lag2', 'temp_calgary_lag3',
       'temp_calgary_lag4', 'temp_calgary_lag5', 'temp_calgary_lag6',
       'temp_calgary_lag7', 'temp_calgary_lag8', 'temp_calgary_lag9',
       'temp_calgary_lag10', 'temp_calgary_lag11', 'temp_calgary_lag12',
       'temp_calgary_lag13', 'temp_calgary_lag14', 'temp_calgary_lag15',
       'temp_calgary_lag16', 'temp_calgary_lag17', 'temp_calgary_lag18',
       'temp_calgary_lag19', 'temp_calgary_lag20', 'temp_calgary_lag21',
       'temp_calgary_lag22', 'temp_calgary_lag23', 'temp_calgary_lag24'],
      dtype='object')

In [29]:
df.dtypes

Datetime               object
AIL                   float64
just_date              object
year                    int64
day_of_month            int64
                       ...
temp_calgary_lag20    float64
temp_calgary_lag21    float64
temp_calgary_lag22    float64
temp_calgary_lag23    float64
temp_calgary_lag24    float64
Length: 75, dtype: object

In [30]:
import numpy as np

from xgboost import XGBRegressor
from sklearn.model_selection import TimeSeriesSplit
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
import pickle
import hyperopt
from hyperopt import fmin, tpe, hp, STATUS_OK, Trials
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

df_hypopt       = df
df_hypopt       = df_hypopt.interpolate(method='nearest').ffill().bfill()

split_date      = '2021-01-01 00:00:00'
df_hypopt_train = df_hypopt.loc[df_hypopt.Datetime < split_date].copy()
df_hypopt_test  = df_hypopt.loc[df_hypopt.Datetime >= split_date].copy()

y_train         = df_hypopt_train['AIL'].values
X_train         = df_hypopt_train.drop(['Datetime', 'AIL', 'just_date' ], axis = 1).values

#X_test          = df_hypopt_test.drop (['Datetime', 'AIL', 'just_date'], axis = 1).values
#y_test          = df_hypopt_test['AIL'].values


space={ 'max_depth'        : hp.quniform("max_depth", 2, 20, 1),
        'gamma'            : hp.uniform ('gamma', 0,1),
        'reg_alpha'        : hp.quniform('reg_alpha', 0.015,1,0.05),
        'reg_lambda'       : hp.uniform('reg_lambda', 0.015,1),
        'colsample_bytree' : hp.uniform('colsample_bytree', 0.5,1),
        'min_child_weight' : hp.quniform('min_child_weight', 1, 7, 1),
        'n_estimators'     : hp.quniform('n_estimators', 100, 1000, 10),
        #'subsample'        : hp.quniform('subsample', 0.1, 1, 0.01)
        'learning_rate'     : hp.quniform('learning_rate', 0.01, 0.2, 0.01)
    }


def optimize (space):
    model=XGBRegressor(max_depth        = int(space['max_depth']),
                       gamma            = space['gamma'],
                       reg_alpha        = int(space['reg_alpha']),
                       reg_lambda       = int(space['reg_lambda']),
                       colsample_bytree = space['colsample_bytree'],
                       min_child_weight = space['min_child_weight'],
                       n_estimators     = int(space['n_estimators']), 
                       learning_rate    = space['learning_rate'],
                       random_state = 200)
    
    tscv = TimeSeriesSplit(n_splits=5)
    scores = cross_val_score(model, X_train, y_train, cv=tscv, scoring = 'neg_mean_absolute_error')
    #https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter
    print("Loss: {0:.3f} (+/- {1:.3f})".format(scores.mean(), scores.std()))
    #model.fit(X_train, y_train)
    #train_loss = np.mean(np.abs((y_train - model.predict(X_train)) / y_train)) * 100
    # summarize performance
    #preds     = model.predict(X_test)
    #mae       = mean_absolute_error(y_test, preds)
    #loss = np.where(np.abs(y_test - preds) < delta, 
    #                0.5*((y_test - preds)**2),
    #                delta*np.abs(y_test-preds) - 0.5*(delta**2)
    #               )
    #loss = np.mean(np.abs((y_test - preds) / y_test)) * 100
    #print('train loss: {}, test loss: {}'.format(train_loss, loss))
    loss = - scores.mean()
    return loss
trials = Trials()
result = fmin(
            fn        = optimize,
            space     = space,
            algo      = tpe.suggest,
            max_evals = 100,
            trials    = trials
)

print (result)

Loss: -290.568 (+/- 90.465)
Loss: -287.474 (+/- 88.163)
Loss: -278.705 (+/- 81.525)
Loss: -280.803 (+/- 83.601)
Loss: -256.874 (+/- 78.606)
Loss: -294.174 (+/- 89.381)
Loss: -292.107 (+/- 95.646)
Loss: -278.293 (+/- 72.553)
Loss: -286.780 (+/- 87.143)
Loss: -300.161 (+/- 104.385)
Loss: -256.392 (+/- 72.580)
Loss: -288.165 (+/- 83.938)
Loss: -315.260 (+/- 110.942)
Loss: -290.748 (+/- 90.097)
Loss: -285.692 (+/- 87.333)
Loss: -278.379 (+/- 79.982)
Loss: -306.923 (+/- 108.785)
Loss: -329.181 (+/- 125.565)
Loss: -269.851 (+/- 88.106)
Loss: -282.990 (+/- 95.595)
Loss: -250.540 (+/- 59.560)
Loss: -251.952 (+/- 65.693)
Loss: -254.289 (+/- 51.540)
Loss: -251.280 (+/- 46.892)
Loss: -253.178 (+/- 24.435)
Loss: -302.585 (+/- 84.156)
Loss: -259.362 (+/- 75.485)
Loss: -284.613 (+/- 68.487)
Loss: -259.764 (+/- 67.105)
Loss: -283.338 (+/- 89.273)
Loss: -284.862 (+/- 89.024)
Loss: -268.469 (+/- 83.040)
Loss: -266.137 (+/- 72.282)
Loss: -252.482 (+/- 70.750)
Loss: -253.253 (+/- 67.632)
Loss: -300.367 (+/- 95.653)
Loss: -266.329 (+/- 75.500)
Loss: -261.552 (+/- 69.861)
Loss: -256.801 (+/- 63.116)
Loss: -276.352 (+/- 76.050)
Loss: -286.545 (+/- 92.730)
Loss: -316.012 (+/- 113.730)
Loss: -281.241 (+/- 88.800)
Loss: -260.643 (+/- 64.003)
Loss: -254.380 (+/- 71.445)
Loss: -267.463 (+/- 74.338)
Loss: -289.378 (+/- 85.314)
Loss: -282.818 (+/- 83.570)
Loss: -255.143 (+/- 72.302)
Loss: -324.772 (+/- 120.916)
Loss: -268.923 (+/- 47.188)
Loss: -247.418 (+/- 70.075)
Loss: -238.622 (+/- 54.392)
Loss: -433.298 (+/- 140.232)
Loss: -271.241 (+/- 75.051)
Loss: -270.521 (+/- 74.061)
Loss: -271.197 (+/- 84.898)
Loss: -417.630 (+/- 132.525)
Loss: -260.743 (+/- 68.689)
Loss: -291.571 (+/- 98.853)
Loss: -307.628 (+/- 102.629)
Loss: -278.934 (+/- 80.575)
Loss: -283.896 (+/- 83.427)
Loss: -2544.065 (+/- 191.756)
Loss: -274.533 (+/- 73.084)
Loss: -244.631 (+/- 58.356)
Loss: -242.983 (+/- 39.321)
Loss: -240.354 (+/- 43.058)
Loss: -259.128 (+/- 28.201)
Loss: -242.536 (+/- 47.726)
Loss: -242.429 (+/- 45.035)
Loss: -244.673 (+/- 59.845)
Loss: -243.159 (+/- 60.105)
Loss: -264.107 (+/- 31.403)
Loss: -261.928 (+/- 78.574)
Loss: -254.503 (+/- 62.018)
Loss: -253.992 (+/- 64.156)
Loss: -256.577 (+/- 71.398)
Loss: -268.340 (+/- 77.682)
Loss: -274.282 (+/- 34.565)
Loss: -245.269 (+/- 55.825)
Loss: -250.136 (+/- 54.767)
Loss: -264.617 (+/- 74.697)
Loss: -281.490 (+/- 81.753)
Loss: -270.210 (+/- 56.721)
Loss: -242.938 (+/- 58.198)
Loss: -251.223 (+/- 69.299)
Loss: -256.275 (+/- 67.698)
Loss: -263.830 (+/- 78.823)
Loss: -279.402 (+/- 80.122)
Loss: -246.947 (+/- 64.340)
Loss: -274.504 (+/- 83.200)
Loss: -370.584 (+/- 96.990)
Loss: -292.633 (+/- 88.650)
Loss: -276.009 (+/- 88.734)
Loss: -288.263 (+/- 87.566)
Loss: -277.327 (+/- 78.606)
Loss: -268.818 (+/- 82.424)
Loss: -257.718 (+/- 66.451)

Loss: -260.587 (+/- 39.157)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [51:58<00:00, 31.18s/trial, best loss: 238.62199415607802]
{'colsample_bytree': 0.5774022948399452, 'gamma': 0.6171981700740388, 'learning_rate': 0.02, 'max_depth': 4.0, 'min_child_weight': 1.0, 'n_estimators': 370.0, 'reg_alpha': 0.65, 'reg_lambda': 0.40098689298288337}

In [32]:
import numpy as np
import pandas as pd
from xgboost import XGBRegressor
from datetime import datetime
import joblib
from joblib import dump


df_hypopt_test  = df_hypopt.loc[df_hypopt.Datetime >= split_date].copy()
y_test          = df_hypopt_test['AIL'].values
X_test          = df_hypopt_test.drop (['Datetime', 'AIL', 'just_date'], axis = 1).values

'''
{'colsample_bytree': 0.5774022948399452, 'gamma': 0.6171981700740388, 
'learning_rate': 0.02, 'max_depth': 4.0, 
'min_child_weight': 1.0, 'n_estimators': 370.0, 
'reg_alpha': 0.65, 'reg_lambda': 0.40098689298288337}

'''
model   = XGBRegressor(colsample_bytree = 0.5774022948399452, 
                       gamma            = 0.6171981700740388, 
                       learning_rate    = 0.02,
                       max_depth        = 4, 
                       min_child_weight = 1, 
                       n_estimators     = 370, 
                       reg_alpha        = 0.65, 
                       reg_lambda       = 0.4,
                       random_state = 200)

model.fit(X_train,y_train)
preds = model.predict(X_test)
print(mean_absolute_error(y_test,preds))

152.9110301624645

In [33]:
df_hypopt_test['forecast'] = preds
df_hypopt_test

,Datetime,AIL,just_date,year,day_of_month,month,day_of_year,hour_of_day,hour_of_the_week,hour_x_day,...,temp_calgary_lag16,temp_calgary_lag17,temp_calgary_lag18,temp_calgary_lag19,temp_calgary_lag20,temp_calgary_lag21,temp_calgary_lag22,temp_calgary_lag23,temp_calgary_lag24,forecast
17544,2021-01-01 00:00:00,9655.0,2021-01-01,21,1,1,1,0,97,0,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9510.180664
17545,2021-01-01 01:00:00,9513.0,2021-01-01,21,1,1,1,1,98,1,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9410.951172
17546,2021-01-01 02:00:00,9437.0,2021-01-01,21,1,1,1,2,99,2,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9369.370117
17547,2021-01-01 03:00:00,9376.0,2021-01-01,21,1,1,1,3,100,3,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9350.510742
17548,2021-01-01 04:00:00,9356.0,2021-01-01,21,1,1,1,4,101,4,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9344.850586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18595,2021-02-13 19:00:00,11312.0,2021-02-13,21,13,2,44,19,140,836,...,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,-29.0,-29.0,11043.445312
18596,2021-02-13 20:00:00,11228.0,2021-02-13,21,13,2,44,20,141,880,...,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,-29.0,10965.468750
18597,2021-02-13 21:00:00,11092.0,2021-02-13,21,13,2,44,21,142,924,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,10789.281250
18598,2021-02-13 22:00:00,10939.0,2021-02-13,21,13,2,44,22,143,968,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,10556.931641
18599,2021-02-13 23:00:00,10706.0,2021-02-13,21,13,2,44,23,144,1012,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,10349.484375

In [40]:
df_hypopt_ = df_hypopt.loc[df_hypopt.Datetime <= '2019-12-31 23:00:00'].copy()
Y          = df_hypopt_['AIL'].values
X          = df_hypopt_.drop (['Datetime', 'AIL', 'just_date'], axis = 1).values


model   = XGBRegressor(colsample_bytree = 0.5774022948399452, 
                       gamma            = 0.6171981700740388, 
                       learning_rate    = 0.02,
                       max_depth        = 4, 
                       min_child_weight = 1, 
                       n_estimators     = 370, 
                       reg_alpha        = 0.65, 
                       reg_lambda       = 0.4,
                       random_state = 200)
model.fit(X,Y)
preds = model.predict(X_test)
print(mean_absolute_error(y_test,preds))

df_hypopt_test['forecast_2'] = preds
df_hypopt_test

155.14868996360084

,Datetime,AIL,just_date,year,day_of_month,month,day_of_year,hour_of_day,hour_of_the_week,hour_x_day,...,temp_calgary_lag17,temp_calgary_lag18,temp_calgary_lag19,temp_calgary_lag20,temp_calgary_lag21,temp_calgary_lag22,temp_calgary_lag23,temp_calgary_lag24,forecast,forecast_2
17544,2021-01-01 00:00:00,9655.0,2021-01-01,21,1,1,1,0,97,0,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9510.180664,9546.888672
17545,2021-01-01 01:00:00,9513.0,2021-01-01,21,1,1,1,1,98,1,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9410.951172,9473.153320
17546,2021-01-01 02:00:00,9437.0,2021-01-01,21,1,1,1,2,99,2,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9369.370117,9430.605469
17547,2021-01-01 03:00:00,9376.0,2021-01-01,21,1,1,1,3,100,3,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9350.510742,9430.605469
17548,2021-01-01 04:00:00,9356.0,2021-01-01,21,1,1,1,4,101,4,...,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,9344.850586,9451.210938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18595,2021-02-13 19:00:00,11312.0,2021-02-13,21,13,2,44,19,140,836,...,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,-29.0,-29.0,11043.445312,11004.411133
18596,2021-02-13 20:00:00,11228.0,2021-02-13,21,13,2,44,20,141,880,...,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,-29.0,10965.468750,10909.342773
18597,2021-02-13 21:00:00,11092.0,2021-02-13,21,13,2,44,21,142,924,...,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,10789.281250,10726.670898
18598,2021-02-13 22:00:00,10939.0,2021-02-13,21,13,2,44,22,143,968,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,10556.931641,10511.579102
18599,2021-02-13 23:00:00,10706.0,2021-02-13,21,13,2,44,23,144,1012,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,10349.484375,10305.196289

In [41]:
df_hypopt_test.to_csv('forecast_error_test_model_v10_17feb_v2.csv')

In [44]:
df_fit       = df
df_fit       = df_fit.interpolate(method='nearest').ffill().bfill()

y_fit         = df_fit['AIL'].values
X_fit         = df_fit.drop(['Datetime', 'AIL', 'just_date' ], axis = 1).values

model.fit(X_fit,y_fit)
preds = model.predict(X_fit)
print(mean_absolute_error(y_fit,preds))
df_fit['forecast'] = preds
df_fit

107.51274706471767

,Datetime,AIL,just_date,year,day_of_month,month,day_of_year,hour_of_day,hour_of_the_week,hour_x_day,...,temp_calgary_lag16,temp_calgary_lag17,temp_calgary_lag18,temp_calgary_lag19,temp_calgary_lag20,temp_calgary_lag21,temp_calgary_lag22,temp_calgary_lag23,temp_calgary_lag24,forecast
24,2019-01-02 00:00:00,9267.0,2019-01-02,19,2,1,2,0,49,0,...,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,9477.471680
25,2019-01-02 01:00:00,9149.0,2019-01-02,19,2,1,2,1,50,2,...,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,9376.512695
26,2019-01-02 02:00:00,9154.0,2019-01-02,19,2,1,2,2,51,4,...,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,9330.421875
27,2019-01-02 03:00:00,9194.0,2019-01-02,19,2,1,2,3,52,6,...,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,9325.725586
28,2019-01-02 04:00:00,9257.0,2019-01-02,19,2,1,2,4,53,8,...,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,-11.1,9329.137695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18595,2021-02-13 19:00:00,11312.0,2021-02-13,21,13,2,44,19,140,836,...,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,-29.0,-29.0,11123.651367
18596,2021-02-13 20:00:00,11228.0,2021-02-13,21,13,2,44,20,141,880,...,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,-29.0,11045.720703
18597,2021-02-13 21:00:00,11092.0,2021-02-13,21,13,2,44,21,142,924,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,-29.0,10875.954102
18598,2021-02-13 22:00:00,10939.0,2021-02-13,21,13,2,44,22,143,968,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,-29.0,10634.000000
18599,2021-02-13 23:00:00,10706.0,2021-02-13,21,13,2,44,23,144,1012,...,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-21.0,-29.0,10432.782227

In [45]:
df_fit.to_csv('alberta_model_17feb_20190101_20210213.csv')

In [46]:
import numpy as np
import pandas as pd
from xgboost import XGBRegressor
from datetime import datetime
import joblib
from joblib import dump

column_list = ['year', 'day_of_month', 'month',
       'day_of_year', 'hour_of_day', 'hour_of_the_week', 'hour_x_day',
       'sin.hour.daily', 'cos.hour.daily', 'sin.hour.weekly',
       'cos.hour.weekly', 'sin.day.yearly', 'cos.day.yearly', 'weekend',
       'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
       'sunday', 'temp_calgary', 'temp_edmonton', 'is_Covid',
       'temp_edmonton_lag1', 'temp_edmonton_lag2', 'temp_edmonton_lag3',
       'temp_edmonton_lag4', 'temp_edmonton_lag5', 'temp_edmonton_lag6',
       'temp_edmonton_lag7', 'temp_edmonton_lag8', 'temp_edmonton_lag9',
       'temp_edmonton_lag10', 'temp_edmonton_lag11', 'temp_edmonton_lag12',
       'temp_edmonton_lag13', 'temp_edmonton_lag14', 'temp_edmonton_lag15',
       'temp_edmonton_lag16', 'temp_edmonton_lag17', 'temp_edmonton_lag18',
       'temp_edmonton_lag19', 'temp_edmonton_lag20', 'temp_edmonton_lag21',
       'temp_edmonton_lag22', 'temp_edmonton_lag23', 'temp_edmonton_lag24',
       'temp_calgary_lag1', 'temp_calgary_lag2', 'temp_calgary_lag3',
       'temp_calgary_lag4', 'temp_calgary_lag5', 'temp_calgary_lag6',
       'temp_calgary_lag7', 'temp_calgary_lag8', 'temp_calgary_lag9',
       'temp_calgary_lag10', 'temp_calgary_lag11', 'temp_calgary_lag12',
       'temp_calgary_lag13', 'temp_calgary_lag14', 'temp_calgary_lag15',
       'temp_calgary_lag16', 'temp_calgary_lag17', 'temp_calgary_lag18',
       'temp_calgary_lag19', 'temp_calgary_lag20', 'temp_calgary_lag21',
       'temp_calgary_lag22', 'temp_calgary_lag23', 'temp_calgary_lag24']

df_final = pd.DataFrame(data = df)
#df_final = df_final.interpolate(method='nearest').ffill().bfill()

y_train = pd.DataFrame(df, columns = ['AIL'])
y_train = y_train.values
X_train = pd.DataFrame(df, columns = column_list)
X_train = X_train.values

'''
{'colsample_bytree': 0.5774022948399452, 'gamma': 0.6171981700740388, 
'learning_rate': 0.02, 'max_depth': 4.0, 'min_child_weight': 1.0,
'n_estimators': 370.0, 'reg_alpha': 0.65, 'reg_lambda': 0.40098689298288337}'''


model   = XGBRegressor(colsample_bytree = 0.5774022948399452, 
                       gamma            = 0.6171981700740388, 
                       learning_rate    = 0.02,
                       max_depth        = 4, 
                       min_child_weight = 1, 
                       n_estimators     = 370, 
                       reg_alpha        = 0.65, 
                       reg_lambda       = 0.4,
                       random_state = 200)


model.fit(X_train,y_train)
preds = model.predict(X_train)
print(np.mean(np.abs((y_train - preds) / y_train)) * 100)

# save model to file
model_name = 'model_generated_on_{}_{}_{}_v11.joblib.dat'.format(datetime.now().day, datetime.now().month, datetime.now().year)
joblib.dump(model, filename = model_name)

9.831958964091271

['model_generated_on_17_2_2021_v11.joblib.dat']